html, body { height: 100%; }
body {
  background: url('../images/gray_jean.png');
  color: #273E75;
  font-family: "Cardo";
  font-size: 17px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.7);
  width: 100%;
  position: relative;
}

.wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  width: 100%;
}

.header {
  position: absolute;
  left: 17%;
  top: 17%;
  width: 50%;
}

ul {
  list-style-type: none;
}

h1, h2 {
  font-size: 36px;
  text-align: left;
}

h1 { margin-bottom: 10px; }
h2 { margin-bottom: 20px; }
h3 {
  text-align: center;
  width: 100%;
}

.header ul.menu {
  font-size: 16px;
  text-align: left;
}

.header ul.menu li {
  background: #EEE;
  border-radius: 1px;
  border: 1px solid rgba(0,0,0,0.8);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 3px 8px;
  transition: .2s all;
}

.header ul.menu li.active {
  background: #273E75;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.6);
  color: #EFEFEF;
  text-shadow: 0 1px 0 rgba(0,0,0,0.7);
}

ul.pages {
  bottom: 0%;
  height: 60%;
  overflow: hidden;
  position: absolute;
  transition: .6s all;
  width: 500%;
}

ul.pages[data-active="home"] { margin-left: 0; }
ul.pages[data-active="about"] { margin-left: -100%; }
ul.pages[data-active="projects"] { margin-left: -200%; }
ul.pages[data-active="media"] { margin-left: -300%; }
ul.pages[data-active="contact"] { margin-left: -400%; }

ul.pages > li {
  display: block;
  list-style-type: none;
  float: left;
  padding-top: 10px;
  height: 100%;
  position: relative;
  width: 20%;
}

.pages .home .map_slideshow {
  height: 90%;
  overflow: hidden;
  position: absolute;
  right: 5%;
  width: 70%;
}

.pages .home .map_slideshow > ul {
  height: 100%;
  width: 200%;
}

.pages .home .map_slideshow > ul > li {
  float: left;
  width: 50%;
}

.pages .home .map_slideshow img {
  float: left;
  max-height: 100%;
  width: 33.33%;
}

.select_list {
  height: 100%;
  width: 100%;
}

.select_list .choices {
  float: left;
  width: 30%;
}

.select_list .choices ul {
  float: right;
  margin-right: 20px;
}
.select_list .choices ul li {
  cursor: pointer;
  padding-bottom: 10px;
  text-align: right;
  width: 200px;
}

.select_list .choices ul li.active {
  font-weight: bold;
}

.select_list .content {
  float: left;
  overflow: hidden;
  width: 70%;
}

.select_list .content ul {
  width: 400%;
}
.select_list .content ul li {
  float: left;
  width: 25%;
}